.searchingFor {
  margin: 50px 0 20px;
}
h1,
p,
.additionalInfo {
  font-family: "Annie Use Your Telescope", cursive;
  color: #474c5c;
  text-align: center;
}
ul {
  list-style-type: none;
}
h1 {
  font-size: 60px;
  margin-top: 20px;

  color: #ffdfc5;
}
p {
  line-height: 15px;
  font-size: 50px;
  margin-bottom: 0px;
}

.description {
  text-transform: capitalize;
}
.celsius {
  font-size: 30px;
  position: relative;
  bottom: 15px;
}
.additionalInfo {
  font-size: 25px;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}
.searched {
  width: 90px;
  margin-top: 40px;
  position: relative;
  bottom: 180px;
  left: 70px;
  transform: skew(5deg, 0deg);
}
.note {
  width: 200px;
  filter: brightness(105%) sepia(60%);
}
.date {
  text-align: left;
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 20px;
  position: relative;
  left: 20px;
}

.days {
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  color: #474c5c;
  text-align: center;
}
.days:hover {
  font-size: 32px;
  background-color: #fffff0;
  border: 1px solid rgba(71, 76, 92, 0.4);
  border-radius: 13px;
  box-shadow: 5px 6px 9px rgba(71, 76, 92, 0.2);
}
.max {
  color: #474c5c;
}
.min {
  color: black;
  opacity: 0.5;
}

img {
  width: 75px;
}

.link {
  font-size: 15px;
  text-align: center;
  font-family: monospace;
  padding: 20px;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: default;
}

main {
  background: #fff;
  padding: 30px;
  margin: 0 auto;
  position: relative;
}
.getLink {
  color: #ffdfc5;
}
.getLink:hover {
  color: #474c5c;
}
.document {
  max-width: 700px;
  margin: 0 auto;
}

main,
main::before,
main::after {
  /* Styles to distinguish sheets from one another */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #bbb;
}

main::before,
main::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 99%;
  background-color: #eee;
}

main::before {
  right: 15px;
  top: 0;
  transform: rotate(-1deg);
  z-index: -1;
}

main::after {
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
}
