body {
  max-width: 600px;
  margin: 20px auto;
}

.searchingFor {
  margin: 50px 0 20px;
}
h1,
p,
.additionalInfo {
  font-family: "Annie Use Your Telescope", cursive;
  color: #474c5c;
  text-align: center;
}
ul {
  list-style-type: none;
}
h1 {
  font-size: 60px;
  margin-top: 20px;
  color: #ffdfc5;
}
p {
  line-height: 15px;
  font-size: 50px;
  margin-bottom: 0px;
}

.description {
  text-transform: capitalize;
}
.celsius {
  font-size: 30px;
  position: relative;
  bottom: 15px;
}
.additionalInfo {
  font-size: 25px;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}
.searched {
  width: 90px;
  margin-top: 40px;
  position: relative;
  bottom: 180px;
  left: 70px;
  transform: skew(5deg, 0deg);
}
.note {
  width: 200px;
  height: auto;
  filter: brightness(105%) sepia(60%);
  padding: 10px;
}
.date {
  text-align: left;
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 20px;
  position: relative;
  left: 20px;
}

.days {
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  color: #474c5c;
  text-align: center;
}
.days:hover {
  font-size: 30px;
  background-color: #fffff0;
  border: 1px solid rgba(71, 76, 92, 0.4);
  border-radius: 13px;
  box-shadow: 5px 6px 9px rgba(71, 76, 92, 0.2);
}
.max {
  color: #474c5c;
}
.min {
  color: black;
  opacity: 0.5;
}

img {
  width: 75px;
}

.link {
  font-size: 15px;
  text-align: center;
  font-family: monospace;
  padding: 20px;
}

.getLink {
  color: #ffdfc5;
  text-decoration: none;
}
.getLink:hover {
  color: #474c5c;
}
.document {
  max-width: 600px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  .note {
    width: 180px;
  }
  .searched {
    width: 70px;
  }
  button {
    margin-top: 5px;
  }
}
